.control-section {
  position: absolute;
  display: flex;
  justify-content: left;
  bottom: 100px;
  left: 900px;
  width: auto;
  height: 200px;
  padding: var(--spacing-md);
}

.control-section .combat button {
  max-width: 100px;
  font-weight: bold;
  color: white;
  padding: 20px 10px;
  border-radius: var(--spacing-sm);
  border: none;
}

.combat-btn.engage {
  background-image: linear-gradient(0deg, #5081ff 18%, #799EFBFF 77%);
}

.combat-btn.engage:hover {
  background-image: linear-gradient(0deg, #5081ff 60%, #799EFBFF 100%);
}

.combat-btn.stop {
  background-image: linear-gradient(0deg, #FF0000FF 0%, #DC3545FF 100%);
}

.combat-btn.stop:hover {
  background-image: linear-gradient(0deg, #FF0000FF 80%, #DC3545FF 100%);
}

.combat-btn.engage:hover,
.combat-btn.stop:hover {
  cursor: pointer;
}
