@import './variables.css';

/* Reset and base styles */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100vh;
  width: 100vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-weight: normal;
  font-style: normal;
}

#root,
.App,
.game-layout {
  height: inherit;
  width: inherit;
  font-family: var(--font-family-base);
}

.bg-green {
  border: var(--border-radius-xs) solid var(--color-success);
}

.bg-red {
  border: var(--border-radius-xs) solid var(--color-danger);
}

.item-info-wrapper {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.item-info-box {
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateY(-50%) translateX(10%);
  margin-left: 8px;
  background: black;
  color: white;
  padding: 12px 20px;
  width: auto;
  border-radius: 4px;
  font-size: var(--font-size-base);
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 1000;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.item-info-box hr {
  margin: var(--spacing-sm) 0;
}

.item-info-box .item-info-stats {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  background-color: var(--color-gray-dark);
  padding: var(--spacing-sm) var(--spacing-lg) var(--spacing-sm) var(--spacing-sm);
  margin-top: var(--spacing-sm);
  text-align: left;
  border-radius: var(--border-radius-sm);
}

.item-info-box .item-info-stats p {
  margin: 0;
}

.move-item-dialog {
  z-index: 1000;
}

.move-item-dialog button {
  margin: 0 0.5em;
}

.progress-bar {
  display: flex;
  gap: var(--spacing-xs);
  text-align: center;
  height: 25px;
}

.progress-bar__fill {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  background-size: 100% 100%;
  background-position: 0px 0px;
  background-image: linear-gradient(0deg, #28a745 30%, #40CA5FFF 100%);
  transition: width 0.2s ease-in-out;
}

.progress-bar__remain {
  flex-grow:1;
  min-width: 10px;
  background-color: var(--color-dark);
  transition: width 0.2s ease-in-out;
  opacity: 0.7;
}

.progress-bar .progress-bar__fill,
.progress-bar .progress-bar__remain {
  border-radius: var(--border-radius-sm);
}

.progress-bar .progress-bar__remain span {
  display: none;
}

.progress-bar span {
  font-weight: bolder;
}

.dialog {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #222;
  color: #fff;
  padding: 1.5em 2em;
  border-radius: 8px;
  box-shadow: 0 4px 24px rgba(0,0,0,0.3);
  z-index: 1000;
}

.dialog button:hover {
  cursor: pointer;
}