.item-sprite {
	width: 32px;
	height: 32px;
	background-image: url("../assets/icons/items/idylwilds-items.png");
	background-repeat: no-repeat;
	display: inline-block;
	image-rendering: pixelated;
	transform: scale(1.5);
}

#acorn {
	background-position: -256px -96px;
}
#apple {
	background-position: -64px -96px;
}
#arrow {
	background-position: -288px -64px;
}
#basket {
	background-position: -32px -128px;
}
#board {
	background-position: -160px 0;
}
#bone {
	background-position: -288px 0;
}
#bonemeal {
	background-position: -288px -32px;
}
#book {
	background-position: -192px -128px;
}
#bread {
	background-position: -128px -96px;
}
#bucket {
	background-position: -64px -128px;
}

#chain {
	background-position: -128px 0;
}
#cloth {
	background-position: -256px 0;
}
#copper_ingot {
	background-position: 0 -32px;
}
#copper_ore {
	background-position: 0 -64px;
}
#copper_rod {
	background-position: 0 0;
}
#egg {
	background-position: -96px -96px;
}
#gold_ingot {
	background-position: -96px -32px;
}
#gold_key {
	background-position: -96px 0;
}
#gold_ore {
	background-position: -96px -64px;
}
#grass {
	background-position: -192px -96px;
}

#herb {
	background-position: -224px -96px;
}
#inkpot {
	background-position: -256px -128px;
}
#iron_ingot {
	background-position: -32px -32px;
}
#iron_ore {
	background-position: -32px -64px;
}
#iron_pickaxe {
	background-position: -32px 0;
}
#leather {
	background-position: -192px 0;
}
#log {
	background-position: -160px -32px;
}
#mug {
	background-position: -256px -64px;
}
#mushroom {
	background-position: -32px -96px;
}

#parchment {
	background-position: -128px -128px;
}
#plate {
	background-position: -224px -64px;
}
#platinum_ingot {
	background-position: -128px -32px;
}
#platinum_ore {
	background-position: -128px -64px;
}
#quill {
	background-position: -224px -128px;
}
#rawhide {
	background-position: -192px -32px;
}
#rope {
	background-position: -192px -64px;
}
#sack {
	background-position: -96px -128px;
}
#scroll {
	background-position: -160px -128px;
}
#silk {
	background-position: -224px 0;
}

#silver_ingot {
	background-position: -64px -32px;
}
#silver_ore {
	background-position: -64px -64px;
}
#silver_shovel {
	background-position: -64px 0;
}
#steak {
	background-position: 0 -96px;
}
#stick {
	background-position: -160px -64px;
}
#string {
	background-position: -224px -32px;
}
#thread {
	background-position: -256px -32px;
}
#torch {
	background-position: -288px -128px;
}
#torch_lit {
	background-position: -288px -96px;
}
#urn {
	background-position: 0 -128px;
}

#wheat {
	background-position: -160px -96px;
}
