@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Lekton:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  /* Colors */
  --color-primary:#BF9E2A;
  --color-secondary: #C0B797;
  --color-success: #28a745;
  --color-danger: #dc3545;
  --color-warning: #ffc107;
  --color-info: #17a2b8;
  --color-light: #f8f9fa;
  --color-dark: #2D2D2D;
  --color-gray: #AAAAAA;
  --color-gray-light: #c7c7c7;
  --color-gray-dark: #585858;
  --color-red: #C65447;
  --color-red-dark: #300D09;
  --color-green: #28a745;
  
  /* Typography */
  --font-family-base: 'Liberation Sans Narrow', sans-serif;
  --font-family-secondary: 'League Spartan', sans-serif;
  --font-family-tertiary: 'Lekton', monospace;
  --font-size-base: 16px;
  --font-size-sm: 14px;
  --font-size-xs: 12px;

  --line-height-base: 1.6;
  
  /* Spacing */
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;
  
  /* Breakpoints */
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  
  /* Border radius */
  --border-radius-xs: 2px;
  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --border-radius-lg: 16px;
  
  /* Shadows */
  --shadow-sm: 0 2px 4px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 10px 15px rgba(0, 0, 0, 0.1);
} 