name: release-please
on:
  push:
    branches:
      - main
permissions:
  contents: write
  pull-requests: write
jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action
        id: release_please
        with:
          config-file: release-please-config.json
          manifest-file: .release-please-manifest.json
          release-type: node
