---
name: Lint

on: # yamllint disable-line rule:truthy
  push: null
  pull_request: null

permissions:
  contents: read

jobs:
  build:
    name: Lint
    runs-on: ubuntu-latest

    permissions:
      # To write linting fixes
      contents: write
      # To write Super-linter status checks
      statuses: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          # super-linter needs the full git history to get the
          # list of files that changed across commits
          fetch-depth: 0
          token: ${{ secrets.SUPER_LINTER_TOKEN }}

      - name: Super-linter
        uses: super-linter/super-linter@v8.5.0
        continue-on-error: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # Enable Biome Fixes
          FIX_BIOME_FORMAT: true
          FIX_BIOME_LINT: true

          # Disable Prettier for things Biome handles (CSS, JS, JSON)
          VALIDATE_CSS_PRETTIER: false
          VALIDATE_JAVASCRIPT_PRETTIER: false
          VALIDATE_JSON_PRETTIER: false
          VALIDATE_TYPESCRIPT_PRETTIER: false

          FIX_HTML_PRETTIER: true
          FIX_MARKDOWN_PRETTIER: true
          FIX_YAML_PRETTIER: true
          FIX_SHELL_SHFMT: true
          FIX_SPELL_CODESPELL: true

          # Other
          VALIDATE_PYTHON_RUFF: false
          VALIDATE_PYTHON_BLACK: false
          VALIDATE_GIT_COMMITLINT: false
          SAVE_SUPER_LINTER_SUMMARY: true
          # To reuse the same Super-linter configuration that you use in the
          # lint job without duplicating it, see
          # https://github.com/super-linter/super-linter/blob/main/docs/run-linter-locally.md#share-environment-variables-between-environments
      - name: Commit and push linting fixes
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: "chore: fix linting issues"
          commit_user_name: super-linter
          commit_user_email: super-linter@super-linter.dev
